[2021-03-16 19:27] avinashjha1320 opened #3 "[GSSoC'21] Index Page"
@mksharma1 @yash982000 @ChetnaNSharma
I would like to make the index page using HTML CSS and javascript with awesome animations and user experience.
Can you assign this to me...I want to build the site from scratch.

[2021-03-20 06:14] yash982000 commented on #3
@avinashjha1320 We are currently designing the screens. Will get back to you soon.
CC:- @ChetnaNSharma

[2021-03-20 09:48] yash982000 commented on #3
@avinashjha1320 I have uploaded the design screens in the folder.
You have to make it similar in HTML, CSS, and JavaScript.
Making it responsive will be a great thing and we will mark your contribution with proper points and label if you are able to do it nicely.

[2021-03-21 09:24] mksharma1 opened #4 "Open for Ideas"
You can suggest ideas and features that we can connect with our website, it should be related to Alumni-Connect only.

[2021-03-22 04:14] tripathi-abhishek commented on #3
Assign me, please. I would like to work on it.

[2021-03-22 04:20] tripathi-abhishek commented on #4
Adding college names as a drop-down option in a form. This will help students to choose their college and connect with their respective alumni(s).

[2021-03-22 05:07] vanieka-sharma opened #5 "adding contributing.md"
Hi ! I would like to create a file named contributing.md which will
Add the following -

1.Difference between GIT and GITHUB
2.How to clone, fork repository
3.How to create a branch and then use git push to push to repo
4.Create a PR
5.Squash commits in a single issue into one
6, Updating the forked and local repo as the updation are made in the upstream
@ChetnaNSharma
I would like to work on this

[2021-03-22 05:10] yash982000 commented on #3
@tripathi-abhishek You will get different tasks. Head over to open to ideas issue listed and bring in some creative ideas you want to work on. Meanwhile, we are preparing the exact requirements and featured to be needed for this application. You can come to us with your ideas in the issue thread of Open for Ideas.
CC:- @ChetnaNSharma

[2021-03-22 05:12] yash982000 commented on #4
Please brief it in detail. The suggested feature is good but will work for multiple databases of the college. Here, our primary aim is to make for a particular college only. If you think you can add backend and databases for multiple colleges, feel free to write some code and have a detailed explanation for the same.We would love to add it.

[2021-03-22 05:13] yash982000 commented on #5
@vanieka-sharma Thank you for your interest. This is a good part of any repository. I am assigning this to you. Please have detailed information and steps required. We will make changes and requirements as needed.

[2021-03-22 07:22] vanieka-sharma commented on #5
@yash982000 I have made pull request, please review that and please tell if any changes required. Thankyou

[2021-03-22 12:35] GovindCodes opened #7 "Signup Page"
I will be designing signup page for the user according to the design presented in the sample image using HTML CSS. I will be taking care of page responsiveness as well. I request u to assign this to me under GSSOC'21.

[2021-03-22 19:56] shefali12-ab opened #8 "creating a page which contains about alumni of college"
Hey, I am one of participant of GSSOC'21..
I would like to contribute by creating a landing page that contains info about  alumni of college.
looking forward for your reply.
Thank you.

[2021-03-23 19:01] yash982000 commented on #5
@vanieka-sharma I am merging this at the moment. Still, it requires some changes for which you can do the pull request again.

[2021-03-23 19:03] yash982000 commented on #7
@GovindCodes That task is assigned to someone else as per the FCFS rule. You may have to wait until we get any result from that assignee or I would say you must start with posting some more ideas in the Open to Ideas thread.
I have some other designs for pages as well. Let me know if you can do some complex pages involving inside features of this project.

[2021-03-23 19:04] yash982000 commented on #8
@shefali12-ab That task is assigned to someone else as per the FCFS rule. You may have to wait until we get any result from that assignee or I would say you must start with posting some more ideas in the Open to Ideas thread.
I have some other designs for pages as well. Let me know if you can do some complex pages involving inside features of this project.

[2021-03-24 05:52] shefali12-ab commented on #8
yes sure, you can discuss with me about complex pages . I would like to work on them.

[2021-03-24 15:41] ANSHIKA1806 opened #9 "LOGIN PAGE"
@yash982000 @mksharma1 @vanieka-sharma  I want to create login page as given in picture of yours or any improved one.
Please assign this task to me. I would love to contribute in this page.

[2021-03-24 17:02] Aniketbhanderi opened #10 "Improving README.md File"
Hi @yash982000 I would like to improve README.md file by adding few links and images for better understanding of this project.
I request you to assign this task to me.

[2021-03-25 05:44] SAHU-01 opened #11 "Front-end (Homepage) needs to be made"
As this project does not have any index.html page so ,I'd like to work on this from scratch , contributing to the front-end part including logos, navbar ,footer, etc .

I hope you can assign me with this task as a GSSOC '21 participant.

[2021-03-25 07:39] lopeselio opened #12 "Are there any designs for the landing page?"
I want to work on implementing the designs for the same.

[2021-03-25 11:11] yash982000 commented on #8
@shefali12-ab Okay, I am adding some more designs and will let you know very soon.

[2021-03-25 11:12] yash982000 commented on #9
@ANSHIKA1806 That task is assigned to someone else as per the FCFS rule. You may have to wait until we get any result from that assignee or I would say you must start with posting some more ideas in the Open to Ideas thread.
I have some other designs for pages as well. Let me know if you can do some complex pages involving inside features of this project.

[2021-03-25 11:14] yash982000 commented on #10
@Aniketbhanderi Sure, please go on.
But, the thing is that you have to first show me what changes you want to do as in readme.md contains a lot of things, I couldn't assign to someone specific. Come up with your changes and I will merge them if find suitable.

[2021-03-25 11:14] yash982000 commented on #11
@SAHU-01 That task is assigned to someone else as per the FCFS rule. You may have to wait until we get any result from that assignee or I would say you must start with posting some more ideas in the Open to Ideas thread.
I have some other designs for pages as well. Let me know if you can do some complex pages involving inside features of this project.

[2021-03-25 11:14] yash982000 commented on #12
@lopeselio That task is assigned to someone else as per the FCFS rule. You may have to wait until we get any result from that assignee or I would say you must start with posting some more ideas in the Open to Ideas thread.
I have some other designs for pages as well. Let me know if you can do some complex pages involving inside features of this project.

[2021-03-25 12:11] shefali12-ab commented on #8
Okay thank you, waiting!!

On Thu, Mar 25, 2021, 16:42 YASH PATEL ***@***.***> wrote:

[2021-03-25 16:17] arpit456jain commented on #8
Please Consider Me too  sir I am also a Gssoc'21 participant.
And sir which technology will be used for back-end of this project? I mean for login/Signup functionality.

[2021-03-25 18:50] GovindCodes commented on #7
@yash982000 I am open to work on any other pages do le me know what are the pages u want me to contribute. ThankYou 😃

[2021-03-26 12:13] SAHU-01 commented on #11
Yes surely I'd love to take up any frontend related tasks.

Moreover have you decided on the logo because I had some in mind If you are willing I can share those.

[2021-03-27 04:16] vanieka-sharma commented on #5
@yash982000 Hello Sir can you please tell the Level of this contribution as I have to fill the feedback form

[2021-03-27 06:28] SAHU-01 opened #15 "LOGO for Alumni-Connect"
Well this website doesn't have any logo in particular so ,I got certain ideas and I'd like to share that here,
do let me know the designs you like then I can accordingly make customizations for your website
/cc @ChetnaNSharma @yash982000

Here are few  designs:

![image](https://user-images.githubusercontent.com/71656941/112712111-4de54400-8ef3-11eb-96d5-6263a87ee3a9.png)

![image](https://user-im

[2021-03-27 14:58] KajalSinghBAGHEL commented on #10
I am GSSOC 21 participant I am a beginner and would like to work on this issue and learn new things, please assign me.

[2021-03-27 17:54] chiragasawa opened #17 "Alumni connect page"
@mksharma1 @yash982000  @vanieka-sharma  @ChetnaNSharma
I would like to make the index page using React.js with some backend.
Can you assign this to me.

[2021-03-28 05:30] RubenFalcao14 opened #18 "Feedback page/ Contact us page"
I would like to build a page that lets users gives the moderator feedback about the website i.e the positive things that they like about the site , the issues that they are facing as well as some features that they would like to add to the site .

[2021-03-28 05:31] RubenFalcao14 commented on #18
I'm a GSSOC'21 participant and I would love to work on it.
Thank You.

[2021-03-28 08:19] oreo-gif opened #19 "Grammatical Errors in README.md and contributing.md"
The idea behind this repo is awesome but I got few grammatical errors in the README.md and contributing.md. I request you to assign me this issue. Thank you

[2021-03-28 09:41] ChetnaNSharma opened #20 "-> One of the tab of website- Know your family"
![20210325_190935](https://user-images.githubusercontent.com/80457581/112748141-cb01cf00-8f6e-11eb-9790-2c2ae85112f6.jpg)

[2021-03-28 09:48] ChetnaNSharma commented on #15
Hi Ankita
We are thankful for your attempt.
The logo doesn't need to have variety of colors. Can you design something consisting of different shades of grey?

[2021-03-28 09:53] ChetnaNSharma commented on #20
Call for participants who are ready to take the challenge!

[2021-03-28 10:07] avinashjha1320 commented on #20
I want to work on this project frontend.

[2021-03-28 10:30] ChetnaNSharma opened #21 "-> Design of login page"
![images (94)](https://user-images.githubusercontent.com/80457581/112749081-dce67080-8f74-11eb-8581-22bec40fba6b.jpeg)
 A page very similar to this is required. We need very similar color combination and detailing. The fun part is to include animation within this.

![images (95)](https://user-images.githubusercontent.com/80457581/112749198-aceb9d00-8f75-11eb-8b65-5c00f0400902.jpeg)
Boxes should ha

[2021-03-28 10:30] ChetnaNSharma commented on #21
Call for participants interested in building this!

[2021-03-28 10:32] avinashjha1320 commented on #21
Can I work on this?

[2021-03-28 10:46] ChetnaNSharma commented on #21
You got this. All the best.

[2021-03-28 10:59] ChetnaNSharma opened #22 "-> One of the tabs of website- What's going on in college"
![20210328_162444](https://user-images.githubusercontent.com/80457581/112749842-ca226a80-8f79-11eb-90b3-3696b3d1c2a7.jpg)
I need some really unique and elegant designs for the four pages linked to this tab.

[2021-03-28 11:01] ChetnaNSharma commented on #22
Call for participants who are willing to build a real creative page!

[2021-03-28 11:08] ChetnaNSharma opened #23 "-> One of the tabs of website- Share Anything"
This has to be page very similar to news feed of instagram. The posts by people on this page may consist of blogs, images, write-ups of few lines, appeal, request or other things or information that they may like to share with rest of the gentry.

I need designs for this page.

[2021-03-28 11:10] ChetnaNSharma commented on #23
Call for participants who are on board to build a page to remember for life!

[2021-03-28 12:23] pragati-kumar commented on #5
@yash982000 I could work on the further streamlining of the documentation, sir if that's acceptable? Steps for committing changes could be added.

[2021-03-28 12:44] yash982000 commented on #3
@tripathi-abhishek I am assigning you these screens if you can do it in a couple of next days let me know so that I can assign it to you.
https://github.com/ChetnaNSharma/Alumni-Connect/blob/main/Alumni%20Connect%20Design%20Screens/Alumni%20Connect%20Home-Feed%20Page%20-%201.png

https://github.com/ChetnaNSharma/Alumni-Connect/blob/main/Alumni%20Connect%20Design%20Screens/Alumni%20Connect%20Home-F

[2021-03-28 12:45] yash982000 commented on #4
@tripathi-abhishek Do you have some details to explain it at the moment?

[2021-03-28 12:47] yash982000 commented on #5
Heyy, @vanieka-sharma Could you please provide me with the docs which have this information of contribution levels from GSSoC so that I can give it to you. Somehow I am unable to find it.

[2021-03-28 12:48] yash982000 commented on #5
Yes @pragati-kumar You can surely work. Do it more detailed and open a pull request. I will merge it after relevant changes.

[2021-03-28 12:50] yash982000 commented on #7
@GovindCodes I am assigning you these screens if you can do it in the next few days, then let me know so that I can assign them to you.

https://github.com/ChetnaNSharma/Alumni-Connect/blob/main/Alumni%20Connect%20Design%20Screens/Alumni%20Connect%20Opportunities%20Page%20Continued%20(Pop-Up).png

https://github.com/ChetnaNSharma/Alumni-Connect/blob/main/Alumni%20Connect%20Design%20Screens/Alumni%

[2021-03-28 12:50] yash982000 commented on #8
@shefali12-ab

[2021-03-28 12:50] #8 closed, assigned to nobody

[2021-03-28 12:53] yash982000 commented on #8
@shefali12-ab Can you open one more issue, I am assigning you some screens there. I accidentally closed the issue.

[2021-03-28 12:53] yash982000 commented on #8
@arpit456jain Can you open one more issue, I am assigning you some screens there. I accidentally closed the issue.

[2021-03-28 12:54] yash982000 commented on #9
@ANSHIKA1806 If you are open to working on other screens, let me know, I have some designs ready. Login/Sign-Up has been assigned to another person based on first come first serve.

[2021-03-28 12:55] yash982000 commented on #10
@Aniketbhanderi If you want some more changes, feel free to do it and I will merge if found suitable.
Also, if you are open to designing screens, let me know , I have some designs ready.

[2021-03-28 12:56] yash982000 commented on #10
@KajalSinghBAGHEL Open a new issue, I will let you know what to do in that.

[2021-03-28 12:58] yash982000 commented on #11
@SAHU-01 Yes, sure. You can come up with some designs in a new issue and make a PR. If found suitable, I will merge it after requesting some changes.

Also, if you are open to working on the frontend, I have some of these designs for you. If you can do it, here they are and I will assign it to you.

https://github.com/ChetnaNSharma/Alumni-Connect/blob/main/Alumni%20Connect%20Design%20Screens/Alumn

[2021-03-28 13:13] arpit456jain commented on #8
Yes sure sir

[2021-03-28 13:13] arpit456jain opened #24 "creating a page which contains about alumni of college"

[2021-03-28 13:14] arpit456jain commented on #8
#24

[2021-03-28 13:23] riasenpai commented on #22
I would like to work on this and add the feat mentioned. @ChetnaNSharma . How much time will I get to complete the task and what level is this issue of?

[2021-03-28 13:50] tripathi-abhishek commented on #3
ok i will do my best!! Please assign.

[2021-03-28 14:07] shefali12-ab commented on #24
@yash982000 issue is already created by @arpit456jain , now what should i do.

[2021-03-28 14:11] shefali12-ab commented on #24
after adding those screens please , guide us like what we have to add further and what changes you need.

[2021-03-28 14:13] ChetnaNSharma commented on #22
Hi Ria
I am thankful to your response.
This tab has to be done completely within 25 days. Did you check the website I mentioned? Would you be able to bring those effects?

[2021-03-28 14:20] #9 closed, assigned to nobody

[2021-03-28 14:22] ChetnaNSharma commented on #24
Hi Shefali
Can you tell me what screens are you talking about?

[2021-03-28 14:26] shefali12-ab commented on #24
sorry, i mean designs that you are adding.

[2021-03-28 14:28] riasenpai commented on #22
@ChetnaNSharma
Yes I checked, its the zoom in effect while scrolling down. Could you also mention the tech stack to be used here and label this issue with Gssoc tag and level tag too so that I can start contributing ASAP. I would be updating you with the progress over the discord channel, please assign this to me. Thank you

[2021-03-28 15:31] riasenpai commented on #22
@ChetnaNSharma  @yash982000 There has been a PR for login page by my fellow contributor. So please merge it because this project has no boilerplate as of yet. I could then pull the login page and initialize a boiler plate in ReactJS because if everyone has a different theme and no proper initial bootstrapping and direction for this project, then there will be merge conflicts which would be difficu

[2021-03-28 16:38] SAHU-01 commented on #15
sure chetna I'll do that and share the design by midnight

[2021-03-28 16:44] SAHU-01 commented on #23
I'd like to create designs for this !
And just let me know about the color pallet I should use.

[2021-03-28 17:26] yash982000 commented on #12
@lopeselio I have some tasks for you, if you can do it in a couple of days, let me know I will assign it to you and merge it if found suitable after requesting some changes or you make it perfect in the first shot.

![image](https://user-images.githubusercontent.com/44220455/112753246-6f7a2480-8ff4-11eb-8821-5263e17b9a1f.png)

Here is what you have to do, below the search bar in the above image, y

[2021-03-28 17:28] yash982000 commented on #17
@chiragasawa Can you please elaborate more on what you want to do in it?
Because we have some designs ready and it should sit on top of that.

[2021-03-28 17:29] yash982000 commented on #18
@RubenFalcao14 Hey, if you want to make something like that, I can give you something related to it.

![image](https://user-images.githubusercontent.com/44220455/112761506-428c3880-9019-11eb-9414-d0e1f386f858.png)

Here is what you have to do, below the search bar in the above image, you have to put review cards of customers/users who have given the review.
Something like this:-https://youtu.be/O-

[2021-03-28 17:30] yash982000 commented on #19
@oreo-gif I would insist you to first make those changes and open a Pull Request, reviewing after which I will give you labels and points.

[2021-03-28 17:35] yash982000 commented on #23
![image](https://user-images.githubusercontent.com/44220455/112761677-f7265a00-9019-11eb-8347-1a1cea733f91.png)

This is some similar idea you can do. You can find the template here too:- https://codepen.io/TurkAysenur/pen/RwWKYMO

Also, you need to do one thing below the search bar in the above image, you have to put review cards of customers/users who have given the review.
Something like this:-

[2021-03-28 17:37] SAHU-01 commented on #15
Well here are few designs let me know if you like anything in particular or  if you want something other than the letters "ac " as the logo

here are  the rough sketches:

![image](https://user-images.githubusercontent.com/71656941/112761684-03121c00-901a-11eb-8f7d-8b6fc6acb321.png)

![image](https://user-images.githubusercontent.com/71656941/112761690-07d6d000-901a-11eb-857b-aeab24709f5d.png)

![

[2021-03-28 17:42] SAHU-01 commented on #23
Sure I can do that ,but I have a slightly different idea for the navbar I was thinking of something similar to this one

![image](https://user-images.githubusercontent.com/71656941/112761857-d4e10c00-901a-11eb-8612-ee8f74bac6d6.png)

where initially the white one would show up on screen and when the user hovers near the logo then the dark themed extended nav bar would pop up

let me know if you li

[2021-03-28 17:49] Aniketbhanderi commented on #10
@yash982000 I have already added pull request for this issue #10 please review that too.

[2021-03-28 17:51] RubenFalcao14 commented on #18
I'll try my best , Thank You Sir.

[2021-03-28 18:03] yash982000 commented on #24
Please open different than him, we have other tasks too.

[2021-03-28 18:59] shefali12-ab commented on #24
okay, tell me what should i name that issue.

[2021-03-28 19:23] yash982000 commented on #3
Done!!

[2021-03-28 19:25] yash982000 commented on #24
Anything that you are willing to contribute :)

[2021-03-28 19:29] yash982000 commented on #18
Most Welcome. All the Best :)

[2021-03-28 19:29] SAHU-01 commented on #15
/cc @ChetnaNSharma  let me know if you like any of these ac designs then I can work on the colors but lets fix a design first.

![image](https://user-images.githubusercontent.com/71656941/112765223-ce0dc580-9029-11eb-8301-738227f81249.png)
![image](https://user-images.githubusercontent.com/71656941/112765228-d239e300-9029-11eb-9d35-4603794b4c83.png)
![image](https://user-images.githubusercontent.c

[2021-03-28 19:29] yash982000 commented on #10
Done!!

[2021-03-28 19:37] yash982000 commented on #23
Good try.

I can see that the white one here is the dashboard of Miro Board if I am not wrong.

So, about the pop-up thing if you see, the one I sent is very similar. It will only come out when one clicks that dashboard button like in windows. So, you can do this thing which is almost similar. Let me know what you can understand from this and want to do.

[2021-03-28 22:22] SAHU-01 commented on #23
Nope that's not miro's dashboard , that's bimsync's  workstation dashboard !

And the link which you provided had "ultranet " written and on clicking the hamburger menu it lead us to the extended navbar, so , I guess your one looks more visually attractive, we should take that up.

So should I submit a wireframe first or a prototype of the design and please let me know if you have any particular c

[2021-03-29 06:10] SAHU-01 commented on #23
/cc @ChetnaNSharma

What do think about this theme, would these colors fit into the website theme ?

![image](https://user-images.githubusercontent.com/71656941/112793514-13121600-9083-11eb-9798-a80fdda22507.png)

or a dark background like this

![image](https://user-images.githubusercontent.com/71656941/112793718-68e6be00-9083-11eb-9807-663646f3d37f.png)

[2021-03-29 06:59] ChetnaNSharma commented on #23
Something similar to first image would look good, not the dark theme.

[2021-03-29 08:32] SAHU-01 commented on #23
Ok got that !

[2021-03-29 09:19] pragati-kumar commented on #5
@yash982000 Sent the PR please check. Let me know if any updates are required.

[2021-03-29 13:12] bhubesh757 opened #29 "Add Google Authentication!"

[2021-03-29 14:50] SAHU-01 commented on #23
here is what I've designed

let me know if you like the setup,alignment and colours used , then I'll make the entire mokup with figma and share the link here so that you can play and see all designs other than the main page as well along with transitions.

![image](https://user-images.githubusercontent.com/71656941/112854761-c7d02580-90cb-11eb-9083-0d43dfcb802f.png)

and please let me know what fe

[2021-03-29 16:43] ShambhaviSharma0110 opened #30 "Adding a basic react app"
I would like to add a basic react app with homepage and other pages like contact us, about us etc.

[2021-03-29 16:46] ShambhaviSharma0110 opened #31 "Adding a 404 page"
I would like to add a 404 page to the website.

[2021-03-29 20:04] Shagufta08 commented on #3
Hey! @yash982000 , I would like to contribute to this project, Please assign me any page if it's not been assigned to anyone.

[2021-03-30 13:08] Jassi10000-zz opened #32 "Regarding opening issues"
@yash982000  Sir ,are there no issues available from the maintainers' side
Do we have to open issues of our own , to work ?

[2021-03-30 14:03] arpit456jain commented on #24
@yash982000 can you please guide me what to do.

[2021-03-30 14:40] yash982000 commented on #23
This is somewhat very hazy and unclear. The one which I sent above, it will be great even if you implement that as it is. That is a structured design with tabs and navbar as well as feed in place. We would like to have design same as of that only.

[2021-03-30 14:41] yash982000 commented on #3
@tripathi-abhishek Any updates??

[2021-03-30 14:41] yash982000 commented on #3
@Shagufta08 There are some designs to be done yet. Please open a new issue and I will assign you there.

[2021-03-30 14:42] yash982000 commented on #32
Yes @Jassi10000 Once you are interested, you can open an issue and I will give you some tasks.

[2021-03-30 14:44] yash982000 commented on #32
@Jassi10000 You can open a new issue and I will assign you task on a new thread.

[2021-03-30 14:44] #32 closed, assigned to nobody

[2021-03-30 14:50] yash982000 commented on #7
@GovindCodes Any updates??

[2021-03-30 14:52] yash982000 commented on #18
@RubenFalcao14 Any updates about the review cards thing? We want it as soon as possible as there are a number of other contributors asking for the same task too. Let me know if you can do it or not

[2021-03-30 14:52] yash982000 commented on #17
@chiragasawa Any updates?

[2021-03-30 14:53] yash982000 commented on #12
@lopeselio Are there any updates??

[2021-03-30 14:54] yash982000 commented on #11
@SAHU-01 Are there any updates?

[2021-03-30 14:56] yash982000 commented on #19
Done!!

[2021-03-30 14:57] yash982000 commented on #29
Please describe your issue a bit and then I can assign you.

[2021-03-30 14:57] RubenFalcao14 commented on #18
It's almost done , I just need to sort out some minor issues I'll send you some pics , in about 1 day's time . Sorry for the delay .

[2021-03-30 15:26] SAHU-01 commented on #23
ok

[2021-03-30 17:25] chiragasawa commented on #17
working on that building ui is taking time

[2021-03-30 17:45] SAHU-01 commented on #11
Yup I'm almost done with my design , i'll share it tommorow , if you don't like that then I'll start working on the code with your design

[2021-03-30 18:21] SAHU-01 commented on #11
![image](https://user-images.githubusercontent.com/71656941/113036826-5c14b800-91b2-11eb-98aa-f5387960792d.png)
![image](https://user-images.githubusercontent.com/71656941/113036840-5fa83f00-91b2-11eb-9b21-e54fe764b76b.png)
![image](https://user-images.githubusercontent.com/71656941/113036850-62a32f80-91b2-11eb-8c0f-4a4f020d6f91.png)

I'll add the components the way you mentioned in the above desi

[2021-03-31 01:12] RubenFalcao14 commented on #18
![mockup.JPG](https://user-images.githubusercontent.com/79042516/113076232-36a4a000-91ec-11eb-9f3e-46ea4a34b2a6.JPG)
Sir is it okay ?@yash982000

[2021-03-31 04:36] yash982000 commented on #18
Works but there should be a pop-up kinda thing when the mouse pointer hover over it.

[2021-03-31 04:37] yash982000 commented on #5
I think I merged it right now. It was regarding same right?

[2021-03-31 05:44] RubenFalcao14 commented on #18
I'll try to add it by today and send you a pic.

[2021-03-31 15:42] #24 closed, assigned to nobody

[2021-03-31 18:10] tripathi-abhishek commented on #3
yeah. I'm building the pages as requested. The design is kinda vague. I have worked on Figma so I had this habit of getting precise details.  BTW I'm using HTML, CSS for now. So, In the future, if u need ejs, gatsby, or such for full website development it would just need some additional modules/components.

[2021-03-31 19:15] shrutis-adobe commented on #20
im interested in this issue, could you please assign me this!

[2021-04-01 01:32] RubenFalcao14 commented on #18
![Screenshot (584).png](https://user-images.githubusercontent.com/79042516/113231105-1b06cb80-92b8-11eb-9e74-c40d0428f898.png)
@yash982000 Sir , I have added the hover effect to the review cards let me know if it's okay .

[2021-04-01 03:42] GovindCodes commented on #7
@yash982000 i m sorry my exams were going on due to this i was quite inactive i will update this by tomorrow 😃

[2021-04-01 06:23] yash982000 commented on #18
@RubenFalcao14  It looks good. Can you add the code now?
Also, I hope you have made the CSS file too and it's responsive.

[2021-04-01 06:25] yash982000 commented on #7
@GovindCodes Do it as soon as possible. We have other contributors too who are asking for the same.

[2021-04-01 06:27] yash982000 commented on #3
@tripathi-abhishek  They are actually not vague. It is made in Figma only. But, this is a screenshot so. No worries, do it in HTML and CSS only and connect it via Javascript if needed.

[2021-04-01 06:42] RubenFalcao14 commented on #18
@yash982000 Sir, have made 2 files 1 .html file and 1 .css file. Could you tell me where I should add them in the repo .

[2021-04-01 08:25] yash982000 commented on #18
Make a pull request by adding these files in a new folder named templates or similar.

[2021-04-01 13:36] SAHU-01 commented on #23
/cc @ChetnaNSharma @yash982000

here is what the mokup now looks like , I did it exactly the way you mentioned above
![image](https://user-images.githubusercontent.com/71656941/113301214-6783f280-931c-11eb-9572-a97160782af8.png)

could you please provide me what contents I should be adding in the menue toggle , and should I make  additional page designs for each of those contents as well?

Once yo

[2021-04-01 17:06] ShambhaviSharma0110 commented on #30
Hey! Can I please implement the wireframes into a react project?

[2021-04-02 06:04] M2kishore commented on #5
Just found a minor spelling mistake in contributing.md
fee -> feel(marked with blue ink)
![image](https://user-images.githubusercontent.com/60045529/113386030-f5a4bb00-93a6-11eb-8415-c812351b288b.png)

[2021-04-02 06:40] yash982000 commented on #30
@ShambhaviSharma0110 Sure. Please just add screenshots/figures to check what actually is happening.

[2021-04-02 06:41] yash982000 commented on #29
@bhubesh757 Please let me know what you want to do or I will have to close this issue.

[2021-04-02 06:42] yash982000 commented on #29
And you can make those changes and open a PR.

[2021-04-02 06:43] yash982000 commented on #4
@tripathi-abhishek I guess you are discussing on a new thread. Let me know if it is done so that I can leave this issue open for other ideas.

[2021-04-02 06:44] yash982000 commented on #5
Make a PR and I will merge it. @M2kishore

[2021-04-02 06:45] yash982000 commented on #5
@pragati-kumar Can you let me know if this issue is done? As in I have many issues and PR to handle and it becomes somewhat complex and confusing for me. So, I want to close this issue if it is done.

[2021-04-02 06:46] yash982000 commented on #12
@lopeselio

[2021-04-02 06:47] yash982000 commented on #17
@chiragasawa Make sure to have in mind those designs made.

[2021-04-02 06:47] #18 closed, assigned to RubenFalcao14

[2021-04-02 06:48] yash982000 commented on #20
@shrutayyyy We would like to hear some updates from you if any?

[2021-04-02 06:49] lopeselio commented on #12
I will try this out.

[2021-04-02 06:52] shrutis-adobe commented on #20
I just got assigned this issue yesterday evening, so I’ve just started working on the outline of the page. I’ll update as soon as i get some decent amount of work done or i face any issue!

[2021-04-02 06:53] lopeselio commented on #12
I am on it, can I get this done by wednesday?

[2021-04-02 06:57] #10 closed, assigned to Aniketbhanderi

[2021-04-02 06:58] yash982000 commented on #12
@lopeselio  Ok, do it as soon as possible since we have other contributors as well. :)

[2021-04-02 07:04] lopeselio commented on #12
I want to run the project locally. but here the package files seem missing. Only able to access the testimonial index.html.

[2021-04-02 07:07] lopeselio commented on #12
I assume this is a create react app? Or do we have to design the screens manually and add it to index ?

[2021-04-02 07:35] shrutis-adobe commented on #20
i had one doubt, it says background image attached for the pages, where are the background images that have to be used for this?

[2021-04-02 08:05] yash982000 commented on #20
No worries @shrutayyyy

[2021-04-02 08:06] yash982000 commented on #20
It is just for reference. You can use any as of now. Also, let Chetna know about it. I will merge it once she is fulfilled with the requirements.

[2021-04-02 08:11] yash982000 commented on #31
I guess this issue is being worked on by you itself on a different thread if I am not wrong.
If so, please confirm so that I can close this one.

[2021-04-02 08:16] yash982000 commented on #12
Actually no as of now. Because we started it to be as a react app but most of the participants are familiar with HTML, CSS so for now doing the frontend on it.

[2021-04-02 08:26] yash982000 commented on #23
This is better.

Chetna might help you with the rest of the requirements :)

[2021-04-02 08:28] yash982000 commented on #24
Yes, sure.

You may start working on these designs.

https://github.com/ChetnaNSharma/Alumni-Connect/blob/main/Alumni%20Connect%20Design%20Screens/Alumni%20Connect%20Resources%20Page%20-%201.png

https://github.com/ChetnaNSharma/Alumni-Connect/blob/main/Alumni%20Connect%20Design%20Screens/Alumni%20Connect%20Resources%20Page%20-%202.png

[2021-04-02 08:28] yash982000 commented on #24
@arpit456jain

[2021-04-02 08:30] yash982000 commented on #11
Sure.

Here is the Figma link of designs:- https://www.figma.com/file/cGCtHWRhqz1mbJwiKJGUr6/Untitled?node-id=0%3A1

[2021-04-02 08:33] yash982000 commented on #22
@riasenpai We understand but this issue was earlier assigned to someone. Now, there has been many changes in the repo and it will create a merge conflict. You may open a fresh issue for whatever new changes you want to contribute.

Also, please do list tag the PR to which you are referring. There are a number of issues and PR for us to handle which makes it difficult to track the participants if t

[2021-04-02 08:34] yash982000 commented on #11
I hope you are able to access it. If not, let me know.

[2021-04-02 11:34] SAHU-01 commented on #23
Ok I'll wait for Chetna's response !

[2021-04-02 11:36] SAHU-01 commented on #11
I'll send you the preview after writing the code, once you approve of that ,i'll make a pr with  the code

[2021-04-02 13:03] yash982000 commented on #23
👍

[2021-04-02 13:08] yash982000 commented on #11
👍

[2021-04-02 13:40] pragati-kumar commented on #5
Yes, sir. The spelling mistake has been corrected now too so you could close the issue if you please.

[2021-04-02 14:37] ShambhaviSharma0110 commented on #31
I'm done with the 404 page, I've made the pr as well... you can close it

[2021-04-02 14:38] ShambhaviSharma0110 commented on #30
sure!

[2021-04-02 15:36] M2kishore commented on #15
This one looks cool :)     (suggestion)

[2021-04-02 18:52] yash982000 commented on #5
Great, thanks @pragati-kumar for letting me know. :)

[2021-04-02 18:52] #5 closed, assigned to vanieka-sharma

[2021-04-03 06:59] chiragasawa commented on #17
yes i am working according to given design.

[2021-04-03 16:31] yash982000 commented on #17
Okay..!!

[2021-04-03 18:51] Khushi-agarwal opened #40 "Improvement in the testimonials section"
The testimonial page can be improved by adding animation and also adding a hover effect on them.
please @mksharma1 @Aniketbhanderi @yash982000 @M2kishore @pragati-kumar  assign this issue to me.

[2021-04-04 06:38] yash982000 commented on #31
Ok, done!!

[2021-04-04 06:38] #31 closed, assigned to ShambhaviSharma0110

[2021-04-04 08:11] yash982000 commented on #40
@Khushi-agarwal The hover part is done. The animation you may feel free to do.
Related to this, I have some similar tasks too if you can do. You have to make a box or table kind of thing where one can see the requests.
These requests will be asked to the Alumni from the users/junior college students about asking them for a profile/resume/LinkedIn review. It should look like a connection request se

[2021-04-04 08:21] Khushi-agarwal commented on #40
The link of the linkedin or resume of the user will also be in the form of table in the request section?

[2021-04-04 08:27] Khushi-agarwal commented on #40
Yes @yash982000 I can do it.

[2021-04-04 08:49] yash982000 commented on #40
Great!!
Please do it and make a PR soon as you complete.

[2021-04-04 13:22] vedant-jain03 commented on #29
I want to work on this issue.

[2021-04-05 09:27] Khushi-agarwal commented on #40
I have created a pr #42 . please @yash982000 review it.

[2021-04-05 16:26] srishtij2000 commented on #21
Can I work on this issue?

[2021-04-06 04:11] yash982000 commented on #40
@Khushi-agarwal Yes, I am checking there and closing this issue.

[2021-04-06 04:11] #40 closed, assigned to Khushi-agarwal

[2021-04-06 04:13] yash982000 commented on #29
@vedant-jain03 Assigned.

[2021-04-06 04:43] vedant-jain03 commented on #29
Thankyou for assigning
Will get back to you soon with my PR.

[2021-04-06 14:13] SAHU-01 commented on #11
and for the first mokeup I have written the code, you can see how the website looks by clicking on this link:https://drive.google.com/file/d/1T1pWN7DdBSH7cP2reefYRCyEmgM-SCeQ/view?usp=sharing

[2021-04-06 14:15] SAHU-01 commented on #11
/cc @yash982000  the contents are not very clear here

https://github.com/ChetnaNSharma/Alumni-Connect/blob/main/Alumni%20Connect%20Design%20Screens/Alumni%20Connect%20Profile%20Page%20.png

https://github.com/ChetnaNSharma/Alumni-Connect/blob/main/Alumni%20Connect%20Design%20Screens/Alumni%20Connect%20Profile%20Page%20Pop-Up%20Cards.png

could you kindly share these details so that I can Make cha

[2021-04-06 14:26] akshatvirmani opened #43 "Updating the marking scheme of GSSOC in CONTRIBUTING.md file"
There is a change in the marking scheme of GSSOC for different level issues.

[2021-04-06 14:27] akshatvirmani commented on #43
Kindly assign me this issue so I can work on it.

[2021-04-06 18:55] Khushi-agarwal commented on #40
@yash982000 Can you please add labels to this.

[2021-04-07 10:54] yash982000 commented on #43
Done!!

[2021-04-07 11:01] yash982000 commented on #11
This is fine but seems different from what we are thinking. It would be good if you can discuss with Chetna regarding this.

[2021-04-07 11:02] yash982000 commented on #11
Above, I have given you the Figma link of designs in case you missed it. That should be visible clearly. Let me know if you are not able to access it.

[2021-04-07 12:41] SAHU-01 commented on #11
I'm not able to access the figma file and chetna has not commented on any other work progress yet as well, if possible could you ask her opinions, so that we can proceed with work!

[2021-04-07 12:54] yash982000 commented on #11
Ok.
Try this:- https://www.figma.com/file/cGCtHWRhqz1mbJwiKJGUr6/Untitled?node-id=0%3A1

[2021-04-07 12:54] yash982000 commented on #11
If this doesn't work, drop your email.

[2021-04-07 15:26] Khushi-agarwal opened #46 "Requests Section"
A request page which will contain the name, linkedIn profile and the requests of the user.
@yash982000 please assign it to me.

[2021-04-07 19:51] yash982000 commented on #46
Done and merged..!!

[2021-04-07 19:51] #46 closed, assigned to Khushi-agarwal

[2021-04-08 11:57] kumarishalini6 opened #47 "Making ABOUT US and CONTACT US page"
There is noting in about us and contact us page i want to work on this issue under GSSoC'21

[2021-04-08 12:00] kumarishalini6 opened #48 "Making attractive navbar(improvement)"
I want to redesign navbar , making it more attractive which is suitable according to project . i want to work on this issue under GSSoC'21 participant.
And also navbar is not working properly.

[2021-04-08 14:48] ShambhaviSharma0110 commented on #30
hey! I've added the pages please check if it's okay
![Screenshot (457)](https://user-images.githubusercontent.com/60618802/114047800-98799f80-98a7-11eb-925b-6aa35332ab51.png)

this is the demo

[2021-04-09 07:26] samgarg7009 commented on #3
hey! @yash982000, I would like to contribute to this project ,please assign me the designing task ,if not assigned to anyone

[2021-04-09 11:48] ambivert-sam commented on #21
Hey! @ChetnaNSharma I'm a participant of GSSOC
I want to contribute, can you please assign it to me?

[2021-04-09 11:49] ambivert-sam commented on #19
Can I work on this?

[2021-04-09 19:21] hritikgupta92 commented on #47
Can I also work with you on this issue?

[2021-04-10 07:42] mitalirs opened #49 "Creating a student model"
Currently, there is no backend code to handle users. I will create a separate directory to handle the backend part, inside the 'models' folder I will create a 'student' model based on a studentSchema. The student will have the following attributes:
name, year, email Id, password, branch. I will be doing the setup using node and express
@ChetnaNSharma, @yash982000 can you please assign this issue t

[2021-04-10 08:15] Kriti-bit opened #50 "[Backend] Initial Server Setup"
I would like to start working on the backend.
-Add dependencies
-Connect Database
-Add required models
-Set up routes as needed

[2021-04-10 08:16] Kriti-bit opened #51 "[Backend] Add Token Based Authentication"
I would like to implement token based authentication.

[2021-04-10 08:19] Kriti-bit opened #52 "Create a template for issues"
I would like to create a template for the issues raised.

[2021-04-10 08:20] Kriti-bit opened #53 "Create a Template for Pull request"
I would like to create a template for the PRs

[2021-04-10 08:20] Kriti-bit commented on #50
I am a GSSoC'21 Participant. Please assign this issue to me.

[2021-04-10 08:21] Kriti-bit commented on #51
I am a GSSoC'21 Participant. Please assign this issue to me.

[2021-04-10 08:21] Kriti-bit commented on #52
I am a GSSoC'21 Participant. Please assign this issue to me.

[2021-04-10 08:22] Kriti-bit commented on #53
I am a GSSoC'21 Participant. Please assign this issue to me.

[2021-04-10 10:50] shrishti-c commented on #7
Hey.. If this has to done on priority basis, can you assign this issue to me. Willing to work on it. :)

[2021-04-11 08:38] samgarg7009 commented on #47
Can I also work with you on this issue ?

[2021-04-11 16:42] avinashjha1320 opened #55 "Opportunity Page"

[2021-04-12 17:12] ankit-kmar opened #56 "Welcome Bot"
This bot basically greets someone who opens up an issue or makes a pr for the first time in the repo and also when the pr gets merged.

Here is the greetings that I'll use:

Someone opens a new issue:

Hi @_user!

Thanks for opening a new issue to this repo! Don't forget to go through our Code of Conduct and Contributing Guidelines, and wait until you get assigned by one of our maintainers to work

[2021-04-13 04:42] yash982000 commented on #56
@ankit-kmar Sounds good. Assigned and labeled. :)

[2021-04-13 04:43] yash982000 commented on #55
@avinashjha1320 Any reference?

[2021-04-13 04:46] yash982000 commented on #3
@samgarg7009 What designs are you talking about?
We do have that ready.

[2021-04-13 04:47] yash982000 commented on #7
@shrishti-c Yes, sure.

Assigned. Feel free to put a reminder to me on my whatsapp or Discord DM in case it's late too reply.

[2021-04-13 04:49] yash982000 commented on #21
@ambivert-sam Open a new issue and this task is already done. Check for tasks that are not done on a new thread.

[2021-04-13 04:50] yash982000 commented on #19
@ambivert-sam Open a new issue and this task is already done. Check for tasks that are not done on a new thread.

[2021-04-13 04:53] yash982000 commented on #53
@Kriti-bit Sure, done.

[2021-04-13 04:55] yash982000 commented on #52
@Kriti-bit Sure, done.

[2021-04-13 04:57] yash982000 commented on #51
@Kriti-bit Sure, done.

[2021-04-13 04:58] yash982000 commented on #22
@riasenpai Are you still on here?

[2021-04-13 05:02] yash982000 commented on #48
Sure, you can propose the changes you want.
But, make sure it aligns with the project designs.

[2021-04-13 05:16] yash982000 commented on #49
@mitalirs Sure. Just make sure about our project requirements and goal.
Also, stick to Node if possible. :)

[2021-04-13 05:18] avinashjha1320 commented on #55
![JobBoard — Website Template by Colorlib - Brave 4_13_2021 10_42_59 AM](https://user-images.githubusercontent.com/71824792/114500261-4b9a1e00-9c45-11eb-912d-6ba9e77121e9.png)
![image](https://user-images.githubusercontent.com/71824792/114500346-73898180-9c45-11eb-8563-d2fef739c298.png)

@yash982000 I have provided these two references to the project admin...she will choose the design and then I c

[2021-04-13 05:19] yash982000 commented on #47
@kumarishalini6 I am assigning you this as you came first.
But @hritikgupta92 and @samgarg7009 You both can contribute too. You both can start for other pages as well.
Make sure it aligns with the project designs and opens a new issue or PR independently.  Rech out to me on Whatsapp or discord DM in case I am not replying here and for faster assistance.

[2021-04-13 05:24] yash982000 commented on #50
@Kriti-bit Done, All the Best :)

[2021-04-13 05:25] kumarishalini6 commented on #48
Thanks for assigning me .
Can you please add labels in this issue

[2021-04-13 05:26] kumarishalini6 commented on #47
Thanks for assigning me .
Can you please add labels in this issue

[2021-04-13 05:29] yash982000 commented on #48
@kumarishalini6 Done. DM me on whatsapp now or discord DM as I won't be able to check regularly here.

[2021-04-13 05:31] yash982000 commented on #55
Okay, @avinashjha1320

[2021-04-13 05:35] yash982000 commented on #30
@ShambhaviSharma0110 I think there is someone other too who is doing this page. Can you refer to the other designs?
This looks quite simple and not aligning with our previous designs.

[2021-04-13 05:40] #53 closed, assigned to Kriti-bit

[2021-04-13 08:20] avinashjha1320 opened #57 "Profile Page"
@yash982000 @ChetnaNSharma Here are some of the templates for the profile page...can you help me out by selecting any of them or by giving and another sample.
### Sample 1
![image](https://user-images.githubusercontent.com/71824792/114519341-f28ab400-9c5d-11eb-8718-c91c9499db5c.png)
### Sample 2
![image](https://user-images.githubusercontent.com/71824792/114520204-d1769300-9c5e-11eb-997e-5ea0df67b

[2021-04-13 08:28] hritikgupta92 commented on #47
Ok

[2021-04-13 12:44] mitalirs commented on #49
@yash982000 sure, thank you for assigning this issue to me
Also, will it be okay if I add the student model once the initial folder setup is done, I guess @Kriti-bit has been assigned to do that, right?

[2021-04-13 12:52] ankit-kmar commented on #56
Sir, I also see that this repo dont have any auto labelling bot. So should I add the script file for that too? If so then please let me know..

Basically this auto label bot will add the gssoc21 label automatically whenever a user will ask to work under gssoc program, this will greatly reduce your work too.

[2021-04-13 12:58] ankit-kmar commented on #56
and sir pls re- assign me, By mistake I removed myself from assignee list

[2021-04-13 13:14] SAHU-01 commented on #23
//cc @ChetnaNSharma  and //cc @yash982000

here is the figma  link to the finally decided design for this page :https://www.figma.com/file/by6aM9suMR7Zl2bMSKqkBr/Untitled?node-id=0%3A1

and this is how it looks like:

![image](https://user-images.githubusercontent.com/71656941/114558382-3f838000-9c88-11eb-997a-cf335f9f0757.png)

[2021-04-13 14:11] shrishti-c commented on #7
Sure

[2021-04-13 18:25] mohammedjameel24 opened #60 "Dark Mode"
### dark mode switchable theme for website

[2021-04-13 18:26] mohammedjameel24 commented on #60
Assign me

[2021-04-14 06:21] Varun8216889 commented on #60
Can, I take this issue??

[2021-04-15 08:45] samgarg7009 commented on #47
Ok

[2021-04-16 11:52] yash982000 commented on #60
@mohammedjameel24 I have assigned it to you. Do relevant changes and open a PR.
@Varun8216889 Can you please look into some other issues? Since we have a rule of first come first serve. Hope you can understand :)

[2021-04-16 11:53] yash982000 commented on #7
Any updates?
@shrishti-c

Let me know on WhatsApp or discord so that we can close this issue or assign it appropriately.
DM on discord if you need my contact info for discussing your work or any other doubts.

[2021-04-16 11:56] yash982000 commented on #43
Any updates? @akshatvirmani

Let me know so that we can close this issue or assign it appropriately.

[2021-04-16 11:57] yash982000 commented on #50
Any updates? @Kriti-bit

Let me know on WhatsApp or discord so that we can close this issue or assign it appropriately.
DM on discord if you need my contact info for discussing your work or any other doubts.

[2021-04-16 11:58] yash982000 commented on #51
Any updates? @Kriti-bit

Let me know on WhatsApp or discord so that we can close this issue or assign it appropriately.
DM on discord if you need my contact info for discussing your work or any other doubts.

[2021-04-16 12:07] yash982000 commented on #22
Any updates? @riasenpai

Let me know on WhatsApp or discord so that we can close this issue or assign it appropriately.
DM on discord if you need my contact info for discussing your work or any other doubts.

[2021-04-16 12:16] yash982000 commented on #56
Done !!

[2021-04-16 12:17] yash982000 commented on #56
Yes, that would be a good feature. But make sure it works efficient and only limited to GSSoC 2021 labelling and not anything else.

[2021-04-16 18:56] yash982000 commented on #57
@avinashjha1320 The first one looks good. It is also similar to what has been added in our designs folder.

[2021-04-17 04:49] ChitvanRamani22 opened #65 "Footer"
@yash982000 i would like to design footer for the website., that would be available on every page.
Please assign it to me.

[2021-04-17 04:58] ChitvanRamani22 opened #66 "Error page"
Would like to make 404 page more attractive that will appear if the user enters the url that is not available and also this page will have a home link that will redirect the user to home page.
@yash982000 please assign it to me.

[2021-04-17 06:10] yash982000 commented on #66
Done!!

[2021-04-17 06:21] ChitvanRamani22 commented on #66
@yash982000 please assign and also add labels to it.

[2021-04-17 06:28] ChitvanRamani22 commented on #66
@yash982000 i will be creating and styling the page and then creating route and then linking i think it is a level 2 issue.

[2021-04-17 07:35] avinashjha1320 commented on #57
@yash982000 So can you please assign this to me? so that I can procced with the development of the page.

[2021-04-17 07:38] avinashjha1320 opened #67 "Recommendation Page"
@yash982000 @ChetnaNSharma I want to build the recommendation page where different user accounts are referred for connection. Similar to the recommendation page of LinkedIn.

[2021-04-17 09:50] yash982000 commented on #65
Done!!

[2021-04-17 09:53] #52 closed, assigned to Kriti-bit

[2021-04-17 09:55] yash982000 commented on #67
Assigned

[2021-04-17 09:56] yash982000 commented on #57
Assigned

[2021-04-17 10:29] #43 closed, assigned to akshatvirmani

[2021-04-17 10:30] yash982000 commented on #29
@vedant-jain03  Any updates?

[2021-04-17 12:04] yash982000 commented on #49
Yes, you can have mutual discussions and update me accordingly

[2021-04-17 18:33] CMELAKKIA commented on #3
@yash982000 If would like to do the frontend work .If you have any designs ready can you assign me?

[2021-04-17 20:33] vanshika2906 opened #70 "Hover Effect to Buttons"
I would like to design the navbar by changing font and wants to provide a hovering effect to the components like Home, About-Us, Contact-Us, Services.
Please assign this issue to me.

[2021-04-18 17:22] rakshitnayak opened #72 "Responsive navbar."
hello, I am a gssoc participant ,I see the navbar is not responsive .i would like to work on this issue..
can you pls assign this to me.?

![image](https://user-images.githubusercontent.com/62886278/115154430-7ac2ec00-a098-11eb-9626-b4e3ef953bf5.png)

[2021-04-19 03:13] SAHU-01 commented on #20
//cc @ChetnaNSharma as per your preferences here are the three background samples:

1st:
![image](https://user-images.githubusercontent.com/71656941/115176565-fd749700-a0ea-11eb-8d7e-e7e7b254d827.png)

2nd:
![image](https://user-images.githubusercontent.com/71656941/115176600-0e250d00-a0eb-11eb-9047-d3e60d410468.png)

3rd:
![image](https://user-images.githubusercontent.com/71656941/115176519-e7ff6

[2021-04-20 04:50] saumyaparikh commented on #4
We can add a Quiz section and have a badge on the student profile so that alumni can know in which field the student is good.

[2021-04-20 13:47] #50 closed, assigned to Kriti-bit

[2021-04-20 13:51] yash982000 commented on #70
Done @vanshika2906

[2021-04-20 13:52] yash982000 commented on #72
@rakshitnayak This was asked by some other participant earlier than you. Please find some other issue or let me know if you can do something different. Remember, we have a rule of First Come First Serve :)

[2021-04-20 15:51] yash982000 commented on #20
@SAHU-01 I think better person to speak here is @ChetnaNSharma

[2021-04-20 16:01] yash982000 commented on #23
https://github.com/ChetnaNSharma/Alumni-Connect/pull/59#pullrequestreview-640148795

[2021-04-20 17:25] Mukta-Sawant commented on #3
@yash982000 I would like to work on this issue as part of GSSOC'21. Please assign it to me,

[2021-04-20 17:36] yash982000 commented on #3
@CMELAKKIA @Mukta-Sawant There are certain designs in the design folder. You can check from the open and closed Pr's and issues and work on those which are left.

[2021-04-21 08:33] ChitvanRamani22 opened #77 "Scroll to top button"
I would like to add a scroll up button which will be available on every page and will take the user directly to the top of the page.
@yash982000 please assign this to me.

[2021-04-21 11:08] yash982000 commented on #77
@ChitvanRamani22 Assigned.

[2021-04-21 11:14] #49 closed, assigned to mitalirs

[2021-04-21 11:19] #51 closed, assigned to Kriti-bit

[2021-04-21 12:24] Kriti-bit opened #78 "[Backend] Add a route to register a student"
**Is your feature request related to a problem? Please describe.**

Add a route to register a new student

[2021-04-21 12:24] Kriti-bit commented on #78
Please assign this issue to me

[2021-04-21 13:00] Mukta-Sawant commented on #22
@yash982000 @ChetnaNSharma I would like to work on this as a part of GSSOC'21. Please assign it to me.

[2021-04-21 13:54] khareyash05 opened #79 "[NEED INFORMATION]"
Hi I would like to know the steps to start the front end and the backend

[2021-04-22 05:27] avinashjha1320 commented on #55
@yash982000 can you please tell me which design should I continue and assign me this issue.

[2021-04-25 09:21] ChitvanRamani22 opened #82 "Pre Loader"
I want to add preloader to the website.
I will use suspense,lazy to fetch and show preload until all the data is being loaded.
@yash982000 please assign this to me.

[2021-04-25 16:12] SnehaVeerakumar commented on #65
I would like to work on this issue. If the present assignee gets unassigned, please assign me to complete this issue in 2 days.
@yash982000

[2021-04-25 16:15] ChitvanRamani22 commented on #65
@SnehaVeerakumar the pr of this issue is already merged.

[2021-04-25 16:17] SnehaVeerakumar commented on #65
How do I find issues with unmerged PRs ?

[2021-04-25 16:19] SnehaVeerakumar commented on #22
@yash982000 was this issue solved ?

[2021-04-26 15:42] #77 closed, assigned to ChitvanRamani22

[2021-04-26 15:52] yash982000 commented on #4
@saumyaparikh You may implement it and open a new issue/PR.

[2021-04-26 16:11] yash982000 commented on #78
Assigned. @Kriti-bit

[2021-04-26 16:12] yash982000 commented on #79
@khareyash05 You can check out left screens from the design folder which are not assigned to someone.
You can also come up with new ideas regarding the project.

[2021-04-26 16:14] yash982000 commented on #82
@ChitvanRamani22 Please describe a bit more. I am not exactly able to understand what it is and how will it be helpful for us in this project.

[2021-04-26 16:15] #67 closed, assigned to avinashjha1320

[2021-04-26 16:21] yash982000 commented on #22
@Mukta-Sawant @SnehaVeerakumar
This issue is mostly not done yet. You can check and verify the issues and PR and let me know if it is yet to be done.
I will assign any of you who comes up first as we have a rule of First Come, First Serve.

[2021-04-26 16:29] yash982000 commented on #55
@avinashjha1320 Take the 2nd one

[2021-04-26 16:30] #57 closed, assigned to avinashjha1320

[2021-04-26 16:30] Mukta-Sawant commented on #22
@yash982000 yes it's not done yet.

[2021-04-26 16:45] ChitvanRamani22 commented on #82
@yash982000 https://user-images.githubusercontent.com/76901313/114297933-46b45d80-9ad1-11eb-9633-be4359257b9d.mp4
We could add an interactive splash screen like this just before opening of every page ,it will look good.

[2021-04-26 17:51] yash982000 commented on #65
@SnehaVeerakumar  Generally open issues have PR left to be merged.

@ChitvanRamani22 Close the issues if the PR is merged to avoid confusion.

[2021-04-26 18:36] #65 closed, assigned to ChitvanRamani22

[2021-04-26 18:37] #66 closed, assigned to ChitvanRamani22

[2021-04-26 18:56] yash982000 commented on #22
You may proceed then.

[2021-04-26 18:58] SnehaVeerakumar commented on #22
Me or @Mukta-Sawant ?

[2021-04-26 19:01] yash982000 commented on #22
I may not decide. You both can mutually decide and take it up because both of you have been around this issue at the same time.

[2021-04-26 19:04] SnehaVeerakumar commented on #22
I don't want to create any kinda disputes, I will take up some other issue :)

Go ahead @Mukta-Sawant

[2021-04-27 06:55] Mukta-Sawant commented on #22
@SnehaVeerakumar We can work on this together, @yash982000 will that be okay with you?

[2021-04-30 18:25] yash982000 commented on #82
According to my, this is not much suitable for a portal of well-established Alumni. I think it lacks professionalism.
If you want, you can try which looks more professional.

[2021-04-30 18:25] yash982000 commented on #82
@ChitvanRamani22

[2021-04-30 23:25] #70 closed, assigned to vanshika2906

[2021-05-01 04:55] srrathi commented on #48
@yash982000 Can I work on this issue. I'll make the navbar responsive too.

[2021-05-01 06:31] vanshika2906 opened #88 "Create ChatBot feature"
**Is your feature request related to a problem? Please describe.**
Adding  a chatbot feature in the web app.
A button  showing click to chat at the bottom on the home page.

[2021-05-01 07:27] varmor opened #89 "Re-designing the profile page."
There is mess on profile page design, the profile page should be redesigned in a aesthetic way.

[2021-05-01 07:29] varmor commented on #89
I am requesting You to permit me to work on this issue, and to inform you I am GSSOC-2021 participant.

[2021-05-03 15:10] DivyaAhuja13 commented on #7
I can make the design of Sign Up / Sign In page.I request you to assign this to me under GSSOC'21.

[2021-05-03 19:42] Furquan712 commented on #88
I would like to work on this , Will you assignee me

[2021-05-03 19:53] Furquan712 commented on #89
I am the participant of Gssoc 21 , I would like to work on this , Will you assignee me

[2021-05-03 20:24] yash982000 commented on #7
@DivyaAhuja13 Kindly open a new issue with details and proposed changes. I will be happy to assign and label it :)

[2021-05-03 20:28] yash982000 commented on #22
@Mukta-Sawant, @SnehaVeerakumar I do not have any problem. But, will need to divide the scores mostly. Maybe, if you have some suggestion on that, I am open to hear.

[2021-05-03 20:29] yash982000 commented on #29
@vedant-jain03 Please close this issue if you do not want to work anymore.

[2021-05-03 20:32] yash982000 commented on #88
@vanshika2906 You can work on this. Assigned :)

@Furquan712 Please find some other open issue to work on it or come with any new feature/suggestion/idea.
We have the First Come First Serve rule so cannot help with this issue. However, you both might collaborate if want.

[2021-05-03 20:32] SnehaVeerakumar commented on #22
The other guy can work on this issue as I will not be available for few days :)

[2021-05-03 20:40] yash982000 commented on #56
@ankit-kmar If this is done, can you please close this issue to avoid confusion.

[2021-05-03 20:41] #78 closed, assigned to Kriti-bit

[2021-05-03 20:46] yash982000 commented on #48
@kumarishalini6 @srrathi Can you both please figure out who is active and who will be working?

[2021-05-03 20:46] #55 closed, assigned to nobody

[2021-05-03 20:50] yash982000 commented on #60
https://github.com/ChetnaNSharma/Alumni-Connect/pull/64#pullrequestreview-650703446

[2021-05-03 20:51] yash982000 commented on #60
@mohammedjameel24 If you are not active in a couple of days, then please tell and let @Varun8216889 do this.

[2021-05-03 20:52] yash982000 commented on #89
@VarunMore Assigned.

@Furquan712 FCFS rule :(

[2021-05-03 20:52] mohammedjameel24 commented on #60
Unassign me

[2021-05-03 21:07] srrathi commented on #48
@kumarishalini6 You raised the issue and you came first to resolve it, If you are active it's allright I"ll search for another issuse for me. If you are inactive or not working in this issue do let me know so that I can start working on it.

[2021-05-03 21:13] yash982000 commented on #60
OKay, done.

[2021-05-03 21:13] yash982000 commented on #60
@Varun8216889 The stage is all yours now.

[2021-05-03 21:16] yash982000 commented on #22
@SnehaVeerakumar OKay, thanks for informing fast.
@Mukta-Sawant The stage is all yours now.

[2021-05-04 00:15] kumarishalini6 commented on #48
I have sent PR on this issue and got merged  too.

[2021-05-04 06:16] Mukta-Sawant commented on #22
@yash982000 yes thank you.

[2021-05-04 06:21] Varun8216889 commented on #60
thank u

[2021-05-04 07:09] SnehaVeerakumar commented on #22
Before 7 days I was absolutely free and I was waiting for your reply. Now that I have registered for MLH Hackathon, I replied I will not be available. As your statement sounded ironical, I gave my explanation.

[2021-05-04 11:30] srrathi commented on #48
@yash982000 if the issue is resolved, can you please close it.

[2021-05-04 12:24] yash982000 commented on #48
@kumarishalini6 Just try to always reference the issue with linked PR, so that it gets automatically closed.

[2021-05-04 12:24] #48 closed, assigned to kumarishalini6

[2021-05-04 12:27] kumarishalini6 commented on #47
Close this also

[2021-05-04 12:50] yash982000 commented on #22
@SnehaVeerakumar What sounded you ironical?
I genuinely thanked you for replying fast.

And, sorry for not able to reply earlier due to some commitments. Also, all the best for your hackathon. You still have time to come back with a new feature or issue. :)

[2021-05-04 12:53] #47 closed, assigned to kumarishalini6

[2021-05-04 14:11] WonderWoman248 opened #91 "Enhance the UI of login page"
The 'forget password' option is not properly aligned. I would also like to add the show password option.

[2021-05-04 14:59] varmor commented on #89
Sir, Do I need to follow any pattern or any set of rule while design or I should do it by my self and then push the code for the review?

[2021-05-04 16:56] Varun8216889 commented on #60
where I have to add dark mode ??
I mean in which HTML file

[2021-05-05 09:33] VarunMore commented on #89
hey @yash982000 I have done the changes and  now wants to place a pull request so that you can review it and merge it, can you help me to place a pull request, I tried to push the code to the repo but its showing some  error--(remote: Permission to ChetnaNSharma/Alumni-Connect.git denied to VarunMore.
fatal: unable to access 'https://github.com/ChetnaNSharma/Alumni-Connect.git/': The requested URL

[2021-05-05 12:48] d2Anubis opened #93 "Creating logo using figma"
Hi I would like to design a logo. Please let me know if I can proceed.

[2021-05-05 12:50] #93 closed, assigned to nobody

[2021-05-05 17:21] #56 closed, assigned to ankit-kmar

[2021-05-08 04:14] CadencePrestissimo commented on #91
Can I do it ?

[2021-05-09 14:36] GovindCodes opened #94 "Login/Signup Page Mobile view not working"
Mobile view of login/signup page is completely distorted

I will make the content dynamic with least use of external libraries(now it is intensive, that make high loading time)

1. Go to 'Login'
2. Click on 'login.html'
3. change to mobile view from inspect
4. See error

![image](https://user-images.githubusercontent.com/42794725/117576035-e5989d80-b101-11eb-8306-8de0f90bfdcd.png)

If assigned me

[2021-05-10 07:21] ShrutiKhatri826 commented on #3
I would like to contribute to this issue as a GSSOC'21 participant. Please assign it to me, hoping for a positive reply soon.

[2021-05-11 04:17] Harshpatel2222 opened #95 "Enhance the UI of Requests page"
@yash982000  I am GSSOC participant and I want to change the UI of the Requests page, so can you please assign this issue to me?

[2021-05-11 12:44] yash982000 commented on #89
You need to do as per the design and maintain clearity in it. @VarunMore

[2021-05-12 18:24] yash982000 commented on #95
@Harshpatel2222 Done

[2021-05-12 18:24] yash982000 commented on #94
Assigned @GovindCodes

[2021-05-12 18:26] yash982000 commented on #60
@Varun8216889 You need to check that from the code. Or take help from previous contributors.

[2021-05-12 18:29] yash982000 commented on #91
Assigned @WonderWoman248

[2021-05-12 18:29] yash982000 commented on #91
@CadencePrestissimo Can you look for some other issue as we have FCFS rule :)

[2021-05-12 18:34] yash982000 commented on #3
@ShrutiKhatri826 Can you open a new issue?

You can contribute with your ideas or look for the remaining work from the repo

:)

[2021-05-12 18:43] #95 closed, assigned to Harshpatel2222

[2021-05-13 07:49] ChitvanRamani22 opened #98 "Our reach"
I want to add our reach page as shown in the image below.
![Screenshot_20210513-131628_Gallery.jpg](https://user-images.githubusercontent.com/68965499/118095503-c5acf680-b3ed-11eb-9d30-8296732929d8.jpg)
@yash982000 @ChetnaNSharma
please assign this to me.

[2021-05-13 09:31] ChitvanRamani22 opened #99 "Show and hide password"
Want to add show and hide password feature in login form.
@yash982000 @ChetnaNSharma
Please assign this to me.

[2021-05-15 07:49] srishtij2000 commented on #89
Can I work on this issue?

[2021-05-17 17:50] yash982000 commented on #98
@ChitvanRamani22 Assigned :)

[2021-05-17 17:54] #82 closed, assigned to ChitvanRamani22

[2021-05-17 18:00] yash982000 commented on #89
@VarunMore Please update your status fast.

If not, @srishtij2000 feel free to work on it. If I am unable to reply fast, drop me a WhatsApp DM on 9106584241

[2021-05-17 18:30] #88 closed, assigned to vanshika2906

[2021-05-18 04:19] srishtij2000 commented on #89
Okay I will be start working on this . Kindly  assign this to me

[2021-05-18 04:34] varmor commented on #89
wait @srishtij2000  i am waiting for review,
I'm already working .

[2021-05-18 05:39] yash982000 commented on #89
@srishtij2000 Feel free to hop on some other issue

[2021-05-18 06:18] #98 closed, assigned to ChitvanRamani22

[2021-05-19 04:31] varmor commented on #22
Assign me this issue.
I would like to work on it.

[2021-05-19 05:08] #99 closed, assigned to ChitvanRamani22

[2021-05-19 06:22] ChitvanRamani22 opened #104 "Our vision"
I want to add our vision section.
![20210519_115112.jpg](https://user-images.githubusercontent.com/68965499/118765428-afdd7c80-b898-11eb-9675-be2c58556543.jpg)
@yash982000 please assign this to me.

[2021-05-20 08:01] ChitvanRamani22 opened #105 "Scrollbar"
In the react app the scrollbar looks very simple and does not matches the theme. I want to style it as per the theme.
@yash982000 please assign me this.

[2021-05-20 16:26] srishtij2000 commented on #11
Can I work on this issue?

[2021-05-20 16:32] mitalirs opened #106 "index file in server+signin route (backend)"
**Is your feature request related to a problem? Please describe.**

- currently, there is no index.js file in the server directory
- no route for signing in

**Describe the solution you'd like**

1. create an index.js file in the server directory
2. move the config folder and bring it inside the root directory
3. create a post req for sign in

**Describe alternatives you've considered**

creation

[2021-05-20 16:34] mitalirs opened #107 "edit profile (backend)"
**Is your feature request related to a problem? Please describe.**

currently, there is no route to edit student profile

**Describe the solution you'd like**

a patch request to update student profile

**Describe alternatives you've considered**

a patch request to update student profile, it will need the user to be authenticated
auth middleware will be used

[2021-05-20 16:37] mitalirs opened #108 "Alumni model (backend)"
**Is your feature request related to a problem? Please describe.**

currently, there is no alumni model

**Describe the solution you'd like**

Creating an alumni model file inside the models folder

**Describe alternatives you've considered**

create an alumni model with the following fields:
1. name
2. email
3. password
4. college
5. tokens
6. contact
7. current job details

@yash982000, @ChetnaN

[2021-05-20 16:44] mitalirs opened #109 "saving tokens (backend)"
**Is your feature request related to a problem? Please describe.**

currently, after signing up the token which gets provided to the student user does not get saved to the tokens array of the student entry in the collection

**Describe the solution you'd like**

adding some code to the sign-in route to save the token to 'tokens' array

@yash982000, @ChetnaNSharma can you please assign this issue t

[2021-05-20 18:09] ChitvanRamani22 commented on #109
@mitalirs could you please provide me your discord username. I want to ask something.

[2021-05-20 18:23] ChitvanRamani22 commented on #108
@mitalirs can i work on this ?

[2021-05-20 18:46] ChitvanRamani22 opened #110 "Create db.js file(backend)"
I want to create db.js file inside config folder.(backend)
@yash982000 please assign this to me.

[2021-05-20 18:52] ChitvanRamani22 opened #111 "Routes(backend)"
Add send mail route using nodemailer.
@yash982000 please assign this to me.

[2021-05-20 18:54] ChitvanRamani22 opened #112 "Controllers(backend)"
Add controllers folder and add fetchusers and fetch by email properties into that.(backend)
@yash982000 please assign this to me.

[2021-05-20 19:10] ChitvanRamani22 opened #113 "Configexample.js file(backend)"
I want to add this file so that anyone who is new to this project gets an idea how to set up the connection with mongoose.
@yash982000 please assign me this.

[2021-05-20 19:48] #112 closed, assigned to nobody

[2021-05-20 19:49] #110 closed, assigned to nobody

[2021-05-21 03:47] ChitvanRamani22 opened #114 "Delete and update user by id.(Backend)"
Delete and update user by id.

@yash982000 please assign this to me.

[2021-05-21 08:57] ChitvanRamani22 opened #117 "Speech Recognition"
I want to add speech feature to chatbot.
@yash982000 please assign this to me.

[2021-05-21 16:21] #104 closed, assigned to ChitvanRamani22

[2021-05-21 16:22] #105 closed, assigned to ChitvanRamani22

[2021-05-21 18:50] Sowmya-Betina opened #118 "adding time clock"
I would like to add time clock to make the website more feasible and easy to use

[2021-05-22 10:25] vanshika2906 opened #119 "Adding Alert Box"
**Describe the solution you'd like**
I would like to add a alert box just below the navbar saying something like. "Good Landing! Create a profile to get started". Will provide functionality that it will appear for only 5 seconds and then will disappear.
Please assign this to me. Thankyou!

[2021-05-23 14:08] yash982000 commented on #22
I think @Mukta-Sawant is working on this.
If not , I will assign you in a couple of days. @VarunMore

[2021-05-25 03:17] Kumud-869231165 commented on #91
can I work on this issue

[2021-05-26 11:03] prathamesh3707 commented on #15
Can I work on it

[2021-05-26 12:38] Mukta-Sawant commented on #22
@yash982000 Sir I had some doubts about the issue, so to whom exactly I've to ask? I tried to talk with @ChetnaNSharma but due to some reasons, she's not active on discord.

[2021-05-27 10:28] #117 closed, assigned to ChitvanRamani22

[2021-05-27 10:34] #111 closed, assigned to ChitvanRamani22

[2021-05-27 10:36] #113 closed, assigned to ChitvanRamani22

[2021-05-28 04:43] vanshika2906 commented on #119
Somewhat like this below the navbar. Please assign this to me. Thankyou!
![image](https://user-images.githubusercontent.com/65587816/119930565-50b8ef80-bf9d-11eb-994e-7b8f840847f0.png)

[2021-05-28 10:22] yash982000 commented on #22
@Mukta-Sawant Can you please DM me on whatsapp at +91 9106584241?
I will share her contact details.

[2021-05-28 10:23] yash982000 commented on #15
@prathamesh3707 Sure.
Let me know if you want to so that I can assign you.

[2021-05-28 10:27] #94 closed, assigned to GovindCodes

[2021-05-28 10:33] #114 closed, assigned to ChitvanRamani22

[2021-05-28 10:35] yash982000 commented on #109
@mitalirs Assigned :)

Extremely sorry for the late response. You can add whatever backend as well as stuff left. Will get back to in few hours with update from my side.

[2021-05-28 10:41] yash982000 commented on #11
@srishtuj2000 I don't have any problem. If Ankita doesn't reply in a couple of days, please put a reminder and I will assign it to you.

@SAHU-01 Please once confirm if you are not working so she can do it.

[2021-05-28 11:13] yash982000 commented on #91
@Kumud-869231165 I do not mind. Please tag the previous commenters and ask them if they are active or not or in a day I will assign you. Just put a reminder.

[2021-05-28 11:14] yash982000 commented on #91
@WonderWoman248 @CadencePrestissimo  Please update your status on this or let the active member do it.

[2021-05-28 11:16] yash982000 commented on #108
@mitalirs Assigned :)

Extremely sorry for the late response. You can add whatever backend as well as stuff left. Will get back to in few hours with update from my side.

[2021-05-28 11:16] yash982000 commented on #107
@mitalirs Assigned :)

Extremely sorry for the late response. You can add whatever backend as well as stuff left. Will get back to in few hours with update from my side.

[2021-05-28 11:17] yash982000 commented on #106
@mitalirs Assigned :)

Extremely sorry for the late response. You can add whatever backend as well as stuff left. Will get back to in few hours with update from my side.

[2021-05-28 11:18] yash982000 commented on #118
@Sowmya-Betina  Assigned :)

Extremely sorry for the late response. You can add whatever backend as well as stuff left. Will get back to in few hours with update from my side.

[2021-05-28 11:19] yash982000 commented on #119
@vanshika2906  Assigned :)

Extremely sorry for the late response. You can add whatever backend as well as stuff left. Will get back to in few hours with update from my side.

[2021-05-28 11:24] ChitvanRamani22 commented on #106
@yash982000 already done this.

[2021-05-28 11:24] ChitvanRamani22 commented on #107
@yash982000 i have already done this.

[2021-05-28 11:25] ChitvanRamani22 commented on #108
This too

[2021-05-28 11:54] ChitvanRamani22 opened #129 "Admin"
Working on adding admin routes and controllers.

[2021-05-28 12:36] prathamesh3707 commented on #15
Yes I would do it.

[2021-05-28 18:06] ChitvanRamani22 opened #131 "Admin rights"
Working on admin rights to update and delete user.

[2021-05-28 18:34] vanshika2906 opened #133 "Refactoring of Home page"
**Is your feature request related to a problem? Please describe.**

A clear and concise description of what the problem is.

**Describe the solution you'd like**
Want to add a background pic and then refactoring chatbot and making rerouting of navbar and providing the login option there. Refactor all pages according to that.

[2021-05-29 07:40] GovindCodes commented on #108
@yash982000  I would love to work on this if Assigned me the same.
Thanks

[2021-05-29 07:42] ChitvanRamani22 commented on #108
@GovindCodes this has already been done.

[2021-05-29 11:15] MonalikaKapoor opened #135 "Improve the css of request box"
**Is your feature request related to a problem? Please describe.**

No, it's just to enhance the design of the requests section.

**Describe the solution you'd like**

I wish to add the box-shadow property to the request-box element.

[2021-05-29 11:44] #129 closed, assigned to nobody

[2021-05-29 16:52] himanshujaidka opened #141 "backend: replicas of user routes"
**Describe the bug**
Inside `server` I have found 2 same routes file
 I want to separate the admin route file and user route file respectively.

[2021-05-29 16:56] himanshujaidka opened #142 "backend: Allow admin to perform various tasks"
I want to add accessibility to admin to perform various tasks, like deleteUser, updateUser and so on.

[2021-05-29 17:34] ChitvanRamani22 commented on #141
@himanshujaidka we have 2 route file admin.js and user.js for admin and user respectively.

[2021-05-29 17:34] ChitvanRamani22 commented on #142
@himanshujaidka already implemented.

[2021-05-30 03:56] himanshujaidka commented on #141
@ChitvanRamani22 kindly confirm your statement by checking inside ‘server/routes’ folder

[2021-05-30 03:58] himanshujaidka commented on #141
Kindly confirm your statement by checking inside server/routes, currently lty there are 3 routes

[2021-05-30 03:59] himanshujaidka commented on #142
Are you sure that all the actions are allowed?

[2021-05-30 04:00] himanshujaidka opened #143 "Backend: allow user to follow other user"
Allow user to follow other user. Yes, I want to work on this issue

[2021-05-30 04:06] ChitvanRamani22 commented on #141
Auth route is only for validation.

[2021-05-30 04:06] ChitvanRamani22 commented on #142
Yes

[2021-05-30 07:03] #131 closed, assigned to nobody

[2021-05-30 09:53] #142 closed, assigned to nobody

[2021-05-30 09:54] himanshujaidka commented on #143
@ChetnaNSharma pls assign

[2021-05-30 11:00] Sukriti-sood opened #146 "Github ot Feature"
Github Bot Will COmment on Every PR Open and PR merged

[2021-05-30 15:05] #79 closed, assigned to nobody

[2021-05-31 06:35] yash982000 commented on #146
@Sukriti-sood Can you please recheck?
There is already a bot for this feature I guess

If there is something different, please let me know and then I can assign and merge.

[2021-05-31 06:36] yash982000 commented on #143
@himanshujaidka This is done.
Still, please confirm with @ChitvanRamani22

[2021-05-31 06:38] #135 closed, assigned to MonalikaKapoor

[2021-05-31 06:39] yash982000 commented on #133
@vanshika2906 Assigned :)

[2021-05-31 06:40] Sukriti-sood commented on #146
@yash982000 At the time when I created issue , workflow did not exists but someone created pr after that and recently you merged , I was not aware that we can open pr without issue.

[2021-05-31 06:42] #119 closed, assigned to vanshika2906

[2021-05-31 06:43] #146 closed, assigned to nobody

[2021-05-31 06:50] #108 closed, assigned to mitalirs

[2021-05-31 06:51] #109 closed, assigned to mitalirs

[2021-05-31 07:00] himanshujaidka commented on #143
@ChitvanRamani22 ??

[2021-05-31 07:00] yash982000 commented on #146
Oh  okay. Do open some small issue or feature you want or some good changes in the documentation and readme and I will be happy to assign and merge and give suitable credits :)

[2021-05-31 07:02] himanshujaidka opened #151 "backend: need for the new models for the alumni"
I have seen that in this there is only user and admin but the main focus of this web app is to connect with the alumni , so I think there would be another backend system for the alumni? what do you think @ChetnaNSharma

[2021-05-31 07:07] Sukriti-sood commented on #146
@yash982000 Thanks for the opportunity , I will surely Open a Issue.

[2021-05-31 16:24] yash982000 commented on #151
User ultimately becomes the alumni as per their year of graduation.

[2021-05-31 16:26] yash982000 commented on #15
@prathamesh3707 Assigned.

[2021-05-31 16:41] himanshujaidka commented on #151
okay

[2021-05-31 16:41] #151 closed, assigned to nobody

[2021-05-31 17:33] Sukriti-sood opened #157 "Setting Up Precommit hook"
Setting up husky husky for faomating and linting the code .

[2021-05-31 17:35] Sukriti-sood commented on #146
@yash982000  I have Opened a Issue #157

[2021-05-31 17:37] yash982000 commented on #157
@Sukriti-sood  Assigned ;)

[2021-06-04 06:31] SAHU-01 commented on #11
Chetna doesn't intend to have this page so we dropped this page. Please ask her if she wants it now ,you can assign it again.

[2021-09-04 16:43] Shofiya2003 commented on #30
Is this issue still open? Is someone working on this issue?

[2021-11-27 20:26] amreekminocha commented on #143
Is anyone assigned to solve this issue?
If not, I would love to contribute

[2021-12-13 13:25] ghost opened #158 "Variations in UI Design"
**UI Designs vary on different screens**

The User Interface Designs as seen in the directory: 'Alumni Connect Design Screens' and the actual design of the website do not match. Also the designs itself in the page do not match among themselves. For Example: The 'Sign In & Sign Up form' has the light blue as its accent color, whereas the homepage has the Title Bar's accent color as Dark Blue, the f

[2022-11-15 17:29] #11 closed, assigned to SAHU-01

[2022-11-15 17:30] #15 closed, assigned to SAHU-01, prathamesh3707